{% extends "base.html" %}
{% block title %} About {% endblock %}
{% block body %}

<center>
  <h1>About the Program</h1>
  <br><br>
  <img src="static/img/logo.jpg" style="width:25%"></img>
  <br>
  Now, here is a bunch of text. <br>
  happy jolly folly solly
  happy jolly folly solly
  happy jolly folly solly <br>
  happy jolly folly solly
  happy jolly folly solly
  happy jolly folly solly <br>
  happy jolly folly solly
  happy jolly folly solly
  happy jolly folly solly <br>
  happy jolly folly solly
  happy jolly folly solly
  happy jolly folly solly <br>
  happy jolly folly solly
  happy jolly folly solly
  happy jolly folly solly <br>
  happy jolly folly solly
  happy jolly folly solly

</center>

{% endblock %}
