{% extends "base.html" %}
{% block title %} Home Page {% endblock %}
{% block body %}
<center>
  <h1>Hello this is the home page</h1>
  <br><br>
  <img src="static/img/stock_photo.jpg" style="width:25%">
</center>
<br><br>
Now, here is a bunch of text.
happy jolly folly solly
happy jolly folly solly
happy jolly folly solly
happy jolly folly solly
happy jolly folly solly
happy jolly folly solly
happy jolly folly solly
happy jolly folly solly
happy jolly folly solly
happy jolly folly solly
happy jolly folly solly
happy jolly folly solly
happy jolly folly solly
happy jolly folly solly
happy jolly folly solly
happy jolly folly solly
happy jolly folly solly
happy jolly folly solly
happy jolly folly solly
happy jolly folly solly
happy jolly folly solly
happy jolly folly solly
happy jolly folly solly
happy jolly folly solly
happy jolly folly solly
happy jolly folly solly
happy jolly folly solly
happy jolly folly solly
happy jolly folly solly
{% endblock %}
